<!DOCTYPE html>
<html lang= "en">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <meta name="keywords" content="Home">
        <meta name="description" content="">
        <title>Home</title>
        <link rel="stylesheet" href="../static/css/home.css" media="screen">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu+Mono" />
    </head>

    <body>
        <div class= "background">
            <span class= "Intro line">TypeTest [Version 1.01], All Rights Reserved.</span>
            <div id="terminalInput">
                <span id="tag">
                    <span id="tag-name" style="color: rgb(138,223,50);">user@type-test</span>:<span
                    style="color: rgb(102,146,199);">~</span>$
                </span>
                <span contenteditable="true" id="input" spellcheck="false"></span>
            </div>
        </div>
    </body>
    <script src="../static/js/jquery-3.7.0.js"></script>
    <script src="../static/js/TypeTest.js"></script>
    <script src="../static/js/main.js"></script>
</html>