<!DOCTYPE html>
<html lang= "en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <meta name="keywords" content="Home">
        <meta name="description" content="">
        <title>Home</title>
        <link rel="stylesheet" href="../static/css/home.css" media="screen">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu+Mono" />
    </head>
    <body>
        <div class= "background">
            <span class= "Intro">TypeTest [Version 1.01], All Rights Reserved.</span>
            <textarea class="terminal-input"  spellcheck="false">C:\User\TypeTest></textarea>
        </div>
    </body>

    <script src="../static/js/test.js" async></script>
</html>