<!DOCTYPE html>
<html lang= "en">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <meta name="keywords" content="Hominal">
        <meta name="description" content="">
        <title>Hominal</title>
        <link rel="stylesheet" href="../static/css/home.css" media="screen">
        <link rel="shortcut icon" href="../static/images/terminal-favicon.png" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu+Mono" />
        <script src="https://unpkg.com/hotkeys-js/dist/hotkeys.min.js"></script>
    </head>

    <body>
            <div id="main">
            </div>
            <div id="terminalInput" class="typed">
                <span id="tag">
                    <span id="tag-name" style="color: yellowgreen;">user@hominal</span>:<span
                    class="tilda" style="color: rgb(102,146,199);">~</span>$
                </span>
                <span contenteditable="true" id="input" spellcheck="false"></span>
            </div>
    </body>

    <script src="../static/js/run/TypeTest.js"></script>
    <script src="../static/js/run/snake.js"></script>
    <script src="../static/js/run/pong.js"></script>
    <script src="../static/js/run/tetris.js"></script>


    <script src="../static/js/main/newline.js"></script>
    <script src="../static/js/main/commandFiller.js"></script>
    <script src="../static/js/main/main.js"></script>
</html>