body {
    background-color: black;
    font-family: Ubuntu Mono;
    font-size: 1.5em;
    color: #ffffff;
    padding-left: 1%;
    padding-right: 1%;
}

.Intro{

}
/* .terminal-input{
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border-style: hidden;
    resize: none;
    width: 100%;
    height: auto;
    padding: 0;
}
.terminal-input:focus{
    border-style: none;
    outline: none;
}
.command-submit{
    display: none;
} */