body {
    background-color: black;
    font-family: Ubuntu Mono;
    font-size: 32px;
    color: #ffffff;
}

.background{
    padding: 5% 0% 0 15%;
}
span {
    padding: 1%;
    display: block;
}
.terminal-input{
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border-style: hidden;
}
input:focus{
    border-style: none;
}