body {
    background-color: black;
    font-family: Ubuntu Mono, Courier, monospace;
    font-size: 1.5em;
    color: #ffffff;
    padding-left: 1%;
    padding-right: 1%;
}

#main{
    animation: fade-in;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
#gameContainer{
    animation: fade-in;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
#container{
    animation: fade-in;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}


.Intro{
    margin-top: 1%;
}

.line{
    display: block ;
    margin-top: 1%;
}

#terminalInput{
    margin-top: 1%;

    animation: fade-in;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
#input:focus{
    border: none;
    outline: none;
    margin: 0;
}

html{
    overflow: overlay;
}
::-webkit-scrollbar {
    width: 17px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #767676;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
.caret{
    background-color: yellow;
    position: absolute;
    width: 0.1em;
    height: 2em;
    z-index: -1;
}
.blink {
    animation: pulse 0.8s infinite;
    -webkit-animation: pulse 0.8s infinite;
}

.default{
    color: white;
}
.incorrect{
    color: red;
}
.ghost{
    opacity: 0.5;
}
.correct{
    color: greenyellow;
}
#type-testInput{
    border: none;
    outline: none;
    opacity: 0;
    cursor: default;
    position: fixed;
    bottom: 0.5%;
}
#type-testInput:focus{
    border: none;
    outline: none;
}
.words{
    font-size:2em;
    text-align: center;
    width: fit-content;
    display: block;
    margin: 0 auto;
    margin-top: 2vw;
    padding: 2vw;
    stroke-opacity: 0.5;
    border: solid 1.5vw grey;
    border-radius: 5vw;
    -webkit-border-radius: 5vw;
    -moz-border-radius: 5vw;
    -ms-border-radius: 5vw;
    -o-border-radius: 5vw;
}
.testFin{
    display: block;
    text-align: center;
}
.timer{
    display: inline-block;
}

.topresult{
    margin-top: 2vw;
}
result{
    display: block;
    margin: 2vw 0;
}
rtype{
    display: block;
    color: rgb(102, 146, 199);
    font-size: smaller;
}
rvalue{
    display: block;
    color: white;
    font-size: xx-large;
}

#gameContainer{
    width: 100vw;
    min-height: 95vh;

    overflow: auto;

    max-width: 100%;
    max-height: 100%;

    border: none;
    padding: none;
    margin:  0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#score{
    font-size: x-large;
}
canvas {
    border: 1px solid white;
    width: 50vw;

    padding: none;
    margin: 1vw 0;
}

@keyframes pulse {
    0%, 100% {
        opacity: 0%;
    }
    50% {
        opacity: 100%;
    }
}

.typed {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing;
    animation-duration: 0.8s;
    animation-timing-function: steps(30, end);
    animation-fill-mode: forwards;
}

.typedBlock {
    overflow: hidden;
    white-space: nowrap;
    animation: typings;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes typing{
    from { width: 0 }
    to { width: 100% }
}

@keyframes typings{
    0% {
        transform: translateY(-100%);
        opacity: 0;
        font-size: 0;
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
        font-size: 1em;
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

@keyframes fade-in{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}